{% extends "main_app/base.html" %}

<!--Qué agregar? :P-->
{% block content %}

<div class="card border-dark rounded">
    <div class="card-header border-dark" style="font-family:Georgia, 'Times New Roman', Times, serif">
        <h1>Acerca de nosotros</h1>
        <div class="card-body  border-dark">
            <div class="container">
            <div class="card-imagen-left border-rounded"> <img class="img_acerca"  src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t1.6435-9/65386830_10156497455783310_5823742578385747968_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeG3LPFuhQDEBNg-S2lBLVxMc3aO8nG38ZJzdo7ycbfxkj805gRHItyHpx3MTdQUe9k&_nc_ohc=6lWDP36w4aAAX_XHk_g&_nc_ht=scontent.fgdl10-1.fna&oh=00_AT_bs8MbEtERPiTt8Nnc9etkU8M7IFc4dMChTEUy-GnDkQ&oe=628563EE" style="float:right"></div>
            <div class="card-body">
                <p align="left" style="text-align: justify;">Somos una organización de la sociedad civil fundada en 1999 que contribuye a generar una cultura de respeto e inclusión frente a la realidad social del VIH.Acompañamos en la promoción de los derechos humanos, el desarrollo humano de las personas que viven con VIH y sus familias, así como la educación sexual en los jóvenes para la prevención de nuevos casos.</p>
                <p align="left">Vihas de vida contribuye a que las personas con VIH vivan libres de estigma, discriminación y exclusión, e impulsa acciones encaminadas a prevenir el incremento de nuevos casos; a travez de la educación, la defensa de los DDHH, el desarrollo humano y la vinculación con otras organizaciones.</p>
                <br><b>Visión</b><br><br>
                <p align="left">Somos una Organización de la Sociedad Civil, que contribuye a dignificar a las personas que viven con VIH y aquellas que por su situación social son más vulnerables, a través de estrategias de incidencia, de formación y acompañamiento en una sociedad incluyente y respetuosa de la condición humana.</p>
                <br><b>Objetivo</b><br><br>
                <img class="img_acerca" src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t1.18169-9/13934698_10153809060718310_5668667787556430760_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=2c4854&_nc_eui2=AeFLmnGuIAsgcjdxNtygVxMB_dfz4LthpY_91_Pgu2Glj7OoKukpsA7NpvA723dPR0o&_nc_ohc=bg5dXkfhp1sAX_BlBjB&tn=gBSDTF9pqcrHTwp1&_nc_ht=scontent.fgdl10-1.fna&oh=00_AT_lhHt-aAb4YJQgqZhDzkOPIKFfyfKsvf-0GPmeuzZYAQ&oe=6286AA75" style="float:right">

                <p align="left">Ofrecer procesos de desarrollo humano y acompañamiento espiritual a las personas que viven y conviven con VIH y SIDA para dotarlos de herramientas que contribuyan a mejorar su calidad de vida y fortalecer su proceso personal.
                Implementar estrategias de incidencia, defensa y promoción de los derechos humanos para contribuir a la disminución de actitudes estigmatizantes y acciones discriminatorias y con esto propiciar que quienes viven con VIH tengan mayor inclusión en la sociedad.</p>
                <br><b>Servicios</b><br><br>
                <p align="left">· Canalización para exámenes confirmatorios Elisa y Wester Blot<br>
                · Acompañamiento psicológico<br>
                · Consejería y pos-consejería<br>
                · Visitas en centros hospitalarios y albergues<br>
                · Visitas domiciliarias<br>
                · Taller de información básica de VIH y formas de prevención<br>
                · Taller de erotismo y sexualidad<br>
                · Taller de derechos humanos y VIH/ Construir una sociedad libre de estigma y discriminación<br>
                · Aplicación de pruebas rápidas para la detección del VIH</p>
                <br><b>Horario</b><br><br>
                <p align="left">9:00 a 17:00 horas de lunes a viernes</p>
            
            </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}
