{% extends "main_app/base.html" %}

<!--Qué agregar? :P-->
{% block content %}
<hr><h1>Contacto</h1><hr>

<img height="340px" src="http://assets.stickpng.com/images/5a452601546ddca7e1fcbc87.png" style="float:right;">

<b>Representante Legal</b><br>
<p> Alejandra Palos
En su calidad de Directora</p><br>
<b>Teléfono</b><br>
<p>(52-33) 38151539</p><br>
<b>Correo electrónico</b>
<p>vihasdevida@gmail.com</p><br>
<b>Dirección</b>
<p>Calle Madero 836 entre calles Escorza y Camarena
a un lado del Templo Expiatorio
Colonia Americana Oriente
44160, Guadalajara, Jalisco</p><br>
<b>Facebook/Twitter</b>
<p>@vihasdevida</p>

{% endblock content %}
