{% extends "main_app/base.html" %}

<!--
    Cuentas para pruebas de paypal
    vihasservidor@gmail.com : vihasservidor
    vihascliente@gmail.com : vihascliente
-->
{% block content %}
<hr><h1>Haz una Donación</h1><hr>
<!--Id: Lo obtuve del sandbox de paypal :p -->

<script src="https://www.paypal.com/sdk/js?client-id=Ae8tDKPGL3foK6hnQDphMHfCGGzr3FQJKj7HwO3rozAfRPIvALkm3FKe97ag4AACISrVov7O4DMUJ6aX&currency=USD"></script>
<p align="center">Con tu donación ayudarás a que esta asociación mejore y crezca para seguir apoyando a las personas con VIH. ¡Haz la diferencia!</p><br>
<img class="img_donar" align="center" src="https://scontent.fgdl10-1.fna.fbcdn.net/v/t31.18172-8/1402206_10151801713843310_453750324_o.png?_nc_cat=108&ccb=1-5&_nc_sid=de6eea&_nc_eui2=AeEb4l-GTr_jsy7y9iTHnzeP-Su2xPYqpa35K7bE9iqlrZnamKvOZEEy5tnFHmtOKIk&_nc_ohc=Noak-TT-IzsAX_ZEF9c&_nc_ht=scontent.fgdl10-1.fna&oh=00_AT-jwHBKixPYGJJFbv0sqq3VK9xwQmdsh7gbFLiuJGWG7w&oe=6285FA89">

<!-- Set up a container element for the button -->
<div id="paypal-button-container" align="center">
  <script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            layout: 'horizontal',
            color:  'gold',
            label:  'paypal'
        },

    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '10' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
          }
        }]
      });
    },

    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            var transaction = orderData.purchase_units[0].payments.captures[0];
            //alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

        // When ready to go live, remove the alert and show a success message within this page. For example:
         var element = document.getElementById('paypal-button-container');
         element.innerHTML = '';
         element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }

    
    
    }).render('#paypal-button-container');
</script>
</div>



{% endblock content %}
