{% extends "main_app/base.html" %}

<!--Qué agregar? :P-->
{% block content %}
<hr><h1>Preguntas Frecuentes</h1>
<hr><b>¿Qué es el VIH?</b><br><hr>
<p>VIH significa virus de inmunodeficiencia humana. El VIH es un retrovirus que infecta las células del sistema inmunitario humano (principalmente las células T CD4 positivas y los macrófagos, ambos componentes clave del sistema inmunitario celular), de manera que destruye o daña su función. La infección por este virus lleva a la progresiva reducción del sistema inmunitario, lo que se traduce en la inmunodeficiencia.

El sistema inmunitario se considera deficiente cuando pierde su capacidad de luchar contra las infecciones y las enfermedades. Las personas con inmunodeficiencia son mucho más vulnerables a un amplio número de infecciones y cánceres, la mayoría de los cuales son raros entre personas sin inmunodeficiencia. Las enfermedades asociadas a una inmunodeficiencia grave se consideran infecciones oportunistas, puesto que se aprovechan de un sistema inmunitario debilitado.</p>
<hr><b>¿Qué es el sida?</b><hr>
<p>Sida significa síndrome de inmunodeficiencia adquirida y define la serie de síntomas e infecciones que van asociados a la deficiencia adquirida del sistema inmunitario. La infección por el VIH se considera la causa subyacente al sida. El nivel de inmunodeficiencia y la aparición de determinadas infecciones se utilizan como indicadores para saber si la infección por el VIH ha evolucionado y causado el sida</p>
<hr><b>¿Cuáles son los síntomas del VIH?</b><hr>
<p>La mayoría de las personas infectadas por el VIH no saben que han contraído el virus. Inmediatamente después de la infección algunas personas presentan algo similar a una mononucleosis infecciosa (acompañada de fiebre, sarpullido, dolor articular y ganglios linfáticos inflamados), que ocurre en el momento de la seroconversión. La seroconversión hace referencia al desarrollo de anticuerpos contra el VIH y habitualmente se produce entre uno y dos meses después de haber contraído la infección.La infección por el VIH causa el agotamiento y el debilitamiento progresivos del sistema inmunitario. Ello lleva a una mayor susceptibilidad del cuerpo a infecciones y cánceres y puede conducir al desarrollo del sida.

Si bien la infección por el VIH a menudo no causa ningún síntoma, una persona que acaba de contraer el virus puede contagiarlo a otra persona. Para saber si se ha contraído el VIH, hay que realizar una prueba del VIH</p>
<hr><b>¿Cuándo tiene sida una persona?</b><hr>
<p>El término sida se refiere a las etapas más avanzadas de la infección por el VIH.

La mayoría de las personas infectadas por el VIH, si no se tratan, empiezan a mostrar síntomas de sida a los ocho o diez años.

El sida se identifica con la base de ciertas infecciones. La enfermedad del VIH en su fase 1 es asintomática y no se considera sida. La fase II (incluye leves candidiasis e infecciones frecuentes del tracto respiratorio superior), la fase III (incluye diarrea crónica sin explicación que persiste más de un mes, varias infecciones bacterianas y tuberculosis pulmonar) y la fase IV de la enfermedad del VIH (incluye toxoplasmosis cerebral, candidiasis de esófago, tráquea o pulmones y sarcoma de Kaposi) se emplean como indicadores del sida. La mayor parte de estas afecciones son infecciones oportunistas fácilmente tratables en personas sanas.

Además, los Centros para el control y la prevención de las enfermedades de los Estados Unidos hablan de sida cuando la cantidad de células T CD4 positivas es menor a 200 por mm3 de sangre. Las células T CD4 positivas son fundamentales para elaborar una respuesta inmunitaria a las infecciones.</p>
<hr><b>¿Con qué rapidez desarrollan el sida las personas infectadas por el VIH?</b><hr>
<p>El tiempo puede variar ampliamente en función de la persona. Entre el contagio del VIH y el desarrollo de los primeros síntomas de sida puede haber entre 10 y 15 años, a veces más, y a veces menos. La terapia antirretroviral puede evitar el desarrollo del sida al reducir la carga viral en un cuerpo infectado.</p>
<hr><b>¿Dónde se encuentra el VIH?</b><hr>
<p>El VIH se puede encontrar en fluidos corporales como la sangre, el semen, los fluidos vaginales y la leche materna.</p>
<hr><b>¿Cómo se puede transmitir el VIH?</b><hr>
<p>El VIH se puede transmitir a través de la penetración anal o vaginal, mediante transfusiones de sangre, al compartir agujas contaminadas en centros de atención sanitaria, por inyecciones de drogas y entre madre e hijo durante el embarazo, el nacimiento y la lactancia.

Transmisión sexual

El VIH se transmite mediante prácticas sexuales en las que haya penetración. El VIH no se transmite de manera muy eficiente, por lo que el riesgo de infección en un único contacto sexual con penetración vaginal es bajo. Según los expertos, el sexo anal presenta un riesgo de contagio diez veces más elevado que el sexo vaginal. Una persona con una infección de transmisión sexual no tratada, particularmente si presenta úlceras o secreciones, tiene, de media, de seis a diez veces más posibilidades de contraer el VIH durante la relación sexual.

El sexo oral se considera una actividad sexual de bajo riesgo en lo referente a la transmisión del VIH.

Transmisión por compartir agujas y jeringas

El reutilizar o compartir agujas o jeringas supone una forma muy eficiente de transmitir el VIH. El riesgo de transmisión se puede reducir sustancialmente entre las personas que se inyectan drogas si siempre utilizan agujas y jeringas desechables nuevas o si todas las agujas/jeringas se esterilizan de manera adecuada antes de su uso. La transmisión en centros de atención sanitaria se puede reducir si los trabajadores sanitarios se adhieren a las precauciones universales.

Transmisión de madre a hijo

El VIH se puede transmitir a un niño durante el embarazo, el trabajo de parto, el alumbramiento y la lactancia. Por lo general, hay un riesgo de un 15-30 % de que una madre contagie a su bebé antes y durante el parto. Son distintos los factores que influyen en el riesgo de infección, sobre todo la carga viral de la madre en el momento del nacimiento (cuanto mayor es la carga, mayor es el riesgo). La transmisión de madre a hijo tras el nacimiento puede también ocurrir durante la lactancia. La probabilidad de transmitir el VIH a un niño es muy baja si la madre está en tratamiento antirretroviral durante el embarazo y la lactancia.

Transmisión por transfusión sanguínea

Hay un alto riesgo (superior al 90 %) de contraer el VIH mediante una transfusión con sangre o productos sanguíneos infectados. Sin embargo, la aplicación de estándares de la práctica transfusional garantiza la provisión de sangre y de productos sanguíneos seguros, adecuados y de buena calidad para todos los pacientes que necesiten ser transfundidos. La seguridad sanguínea implica realizar pruebas de detección del VIH y patógenos transmitidos por la sangre, así como llevar a cabo una adecuada selección de donantes.</p>
<hr><b>¿Cuál es el riesgo de transmitir el VIH mediante besos o besos intensos?</b><hr>
<p>Los besos en la boca no entrañan ningún riesgo para la transmisión del VIH. No hay ninguna prueba que sugiera que el virus se pueda transmitir por medio de la saliva al besar.</p>
<hr><b>¿Cuál es el riesgo de transmitir el VIH por medio de un piercing o un tatuaje?</b><hr>
<p>Sí existe un riesgo de transmisión del VIH si los instrumentos contaminados no se esterilizan o se comparten con otros. Los instrumentos pensados para penetrar en la piel deberían utilizarse una vez y después ser desechados o limpiados a fondo y esterilizados.</p>
<hr><b>¿Cuál es el riesgo de transmitir el VIH compartiendo maquinillas de afeitar con una persona infectada?</b><hr>
<p>Cualquier tipo de corte que se realice con un objeto sin esterilizar, como es una maquinilla o un cuchillo, puede transmitir el VIH. Compartir maquinillas no es aconsejable a menos que se esterilicen completamente después de cada uso.</p>
{% endblock content %}
