{% extends "main_app/base.html" %}

<!--Qué agregar? :P-->
{% block content %}
<hr><h1>Hazte la Prueba</h1><hr>

<p align="center">Recuerda:

La Prueba es Gratuita, Segura y Confidencial.

Agenda una cita con nosotros mandando un mensaje a través del botón del messenger de nuestra página de facebook, tu salud es importante.</p>

<img height="800px" style="  display: block; margin: 0px auto;" src="https://pbs.twimg.com/media/DBGoroMVwAA9ZXD.jpg:large"><br>

<a class="contacto" href="{% url 'contacto_page' %}">Contáctanos</a>
{% endblock content %}
