/* Pallete: #C9F0FF #EAFFFD #EFEFF0 #BB342F #D5CAD6  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: #efeff0;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c9f0ff' fill-opacity='0.6' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main{
    font-size: 25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
}

.nav-brand{
    width: 40px;
}

/* NAV LEFT */
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 8px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}

.nav-main ul.nav-menu {
    /* flex: 1; */
    /* margin-left: 20px; */
}

/* showcase */

hr{
    margin: 15px 0px;
}

.showcase{
    width: 100 ;
    /* background-color: #D5CAD6; */
    height: 550px;
    background: url("https://placeimg.com/1080/550/animals") no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 1%;
}

.btn{
    cursor:pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #EAFFFD;
    border-radius: 2%;
    font-size: 20px;
    border: 2px solid black;
    margin: 15px 0px;
}

.btn:hover{
    opacity: 0.75;
    text-decoration: underline;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}


/* Blog Cards */

.blog-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 10px 0px;
}

.blog-cards img{
    width: 100%;
    height: 180px;
    border-radius: 1%;
}

.blog-cards h3{
    font-size: 20px;
    margin: 10px 0px;
}


.blog-cards a{
    padding: 0 0;
    color: black;
    display: inline-block;
    border-style: groove;
    border-width: 1px;
}

.blog-cards p{
    text-align: justify;
}

.btn-blog-cards{
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.btn-blog-cards:hover{
    text-decoration: underline;
}